# Thirdweb Client ID
NEXT_PUBLIC_TEMPLATE_CLIENT_ID=af0d9fbd62c11a62bb15ff81e089858e

# Alamat Smart Contract NFT Anda (MRxLOLCAT)
NEXT_PUBLIC_NFT_CONTRACT_ADDRESS=0xba968fA5d5255d6D95bD23D69bA63De13ceFF731

# Chain ID (8453 for Base)
NEXT_PUBLIC_CHAIN_ID=8453
